body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg");
    background-size: cover;
    text-align: center;
    margin: 0;
}


.quiz-container {
    max-width: 65%; /* Set to a percentage value */
    margin: 100px auto;
    background-color: #00b4d8; /* Change to your desired background color */
    padding: 20px;
    border-radius: 30px;
    border: 35px solid #f4f1de; /* Change to your desired border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

@media (min-width: 1000px) {
    .quiz-container {
        max-width: 500px; /* Set the maximum width */
    }
}
.question-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 26px;
    margin-bottom: 20px;
}

.options-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.options {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
}

button:hover {
    background-color: #06d6a0;
    color: #03045e;
}

.options {
    display: flex;
    justify-content: space-around;
}

.hidden {
    color: black;
    display: none;
}

h1 {
    font-size:  50px;
    font-weight: bolder;
    text-align: center;
    color: #000;    
}

#score {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
